<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>

<main class="container">
  <h1>Welcome to TrailBuddy</h1>
  <form action="/trails">
    <label for="searchTrail">Search by City, State or Zip Code</label>
    <input type="text" name="searchTrail" id="searchTrail">
    <input type="submit" value="Search">
  </form>
</main>

<%- include('./partials/footer') %>

</body>
</html>

