<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

<%- include('./partials/header') %>

<main class="container">
  <h1>Welcome to TrailBuddy</h1>

  <input type="text">
</main>

<%- include('./partials/footer') %>

</body>
</html>

