<%- include('../partials/header') %>

<h1>Trails</h1>

<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper purple">
        <a href="" class="brand-logo left">See All Trails</a>
        <ul class="right">
          <li><a href="/">Home</a></li>
          <li>
            <% if(user) { %>
                <a href="/logout">Logout</a>
              <% } else { %>
                <a href="/auth/google">Login With Google</a>
              <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

<%- include('../partials/footer') %>